
.video-bg-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 11% 0 0 5%;
}


video {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    pointer-events: none;
}

.movie-logo-img {
    width: 300px;
}

.movie-desc {
    z-index: 100;
    width: 540px;
    line-height: 1.5;
    font-size: 1.5rem;
    font-family: 'Netflix Sans Medium';
    color: var(--WHITE);
}

.btn-container {
    display: flex;
}


.play-btn {
    width: 140px;
    height: 56px;
}

.dummy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    font-size: 1.3rem;
    margin-right: 0.6rem;
    font-family: 'Netflix Sans Medium';
    gap: 15px;
    padding-top: 3px;
    cursor: pointer;
}

.icon {
    font-size: 1.6rem;
}

.myList-btn {
    background-color: #86868658;
    color: var(--WHITE);
    width: 175px;
    height: 57px;
}

@media (max-width: 768px) {

    // Resize & Positioning for videoBg elements

    .video-bg-content {
        justify-content: center;
        margin: 35% 0 0 10%;
        .movie-logo-img {
            max-width: 200px;
        }
        .movie-desc {
            font-size: 1rem;
            max-width: 295px;
        }
    }

    video {
        height: 75vh;
    }

    .play-btn, .myList-btn {
        width: 135px;
        height: 45px;
        font-size: 1rem;
        border-radius: 0.8rem;
        .icon {
            font-size: 1rem;
        }
    }

}
